
<div class="footer">
    <div class="footer-links">
        <a href=""><span><i class="fab fa-twitter"></i></span></a> 
        <a href=""><span><i class="fab fa-facebook"></i></span></a> 
        <a href=""><span><i class="fab fa-instagram"></i></span></a> 
        <a href=""><span><i class="fab fa-youtube"></i></span></a>
    </div>

    <p>Copyright &copy: The Taste Valley 2021</p>
</div>