
<div class="header">
    <nav class="navbar">
        <div class="nav-logo"> 
            <a href="/"> AZZ*B <span><i class="fas fa-spider"></i></span></i></a>
        </div>
       
        <div class="nav-links ">
         
         <a href="/">Home</a>
         <a href="/taste">Tastes</a>
         <a href="/about">About Us</a>
         <a href="/contact">Contact</a>
     
     </div>
     <div class="hamburger">
          <span><i class="fas fa-bars"></i> </span>
     </div>
 
     </nav>

    <div class="banner">
        <h1>The Taste Valley </h1>
    </div>
 
 </div>