<!DOCTYPE html>
<html lang="en">

    <%- include('./sections/head.ejs') %> 

<body>
<div class="container">
 
    <%- include('./sections/header.ejs') %>

   <div class="main">
    <div class="about">
       <p> We are a company that deeply cares about an individual or personal taste about our menu (Tastes). We encourage people who ate or tasted our food to let us know how good or bad they are because we always have room to improve. We don’t need a third-party opinion or someone who called themselves a food connoisseur. Opinions are based between our kitchen and clients to express their opinions or comments on our website.
       </p>
      <p>
          We are Locatated in 6 states accross the country from coast to coast.
      </p>

      <ul>
          <li>San Francisco, California </li>
          <li>Seattle, Oregon</li>
          <li>Denver, Colorado</li>
          <li>Chicago, Illinois</li>
          <li>Washington, DC</li>
          <li>New York, New York</li>

      </ul>
    </div>
        
           
    </div>
    
    <%- include('./sections/footer.ejs') %>

</div>
<script src="./menu.js"></script>
</body>
</html>