<!DOCTYPE html>
<html lang="en">

    <%- include('./sections/head.ejs') %> 

<body>
<div class="container">
 
    <%- include('./sections/header.ejs') %>

   <div class="main">
    
    <div class="contact">
           <p> Thank you for your trust in our kitchen.</p>
           <p>You can reach us on:</p> 
           <p>Facebook: <span><a href=""><i class="fab fa-facebook"></i></span></a></p> 
           <p>Twitter: <a href=""><span><i class="fab fa-twitter"></i></span></a></p> 
           <p>Instagram: <a href=""><span><i class="fab fa-instagram"></i></span></a></p> 

           <p>San Francisco, California: 310 000 0000</p>
           <p>Seattle, Oregon: 321 000 0000</p>
           <p>Denver, Colorado: 720 000 0000</p>
           <p>Chicago, Illinois: 412 000 0000</p>
           <p>Washington, DC: 202 000 0000</p>
           <p>New York, New York: 718 000 0000</p>
           

    </div>
           
    </div>

    <%- include('./sections/footer.ejs') %>


</div>
<script src="./menu.js"></script>
</body>
</html>