<!DOCTYPE html>
<html lang="en">

 <%- include('./sections/head.ejs') %> 
 
<body>
<div class="container">
 
    <%- include('./sections/header.ejs') %> 
    
   <div class="main">
    <div class="intro">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus harum officiis repudiandae obcaecati inventore laboriosam, nemo commodi animi? Fugit blanditiis saepe assumenda explicabo laudantium, ad esse voluptatibus impedit dolore eius? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla temporibus, dicta iusto, quod molestias, rem minus delectus soluta adipisci accusantium aut quas assumenda quos aspernatur obcaecati similique maiores! Reiciendis, rem!</p>
    </div>
      
      <div class="home-images">
          <div class="image-h"><img src="./img/service.jpg" width="600" height="300" alt=""></div>
          <div class="image-h"><img src="./img/beer.jpg" width="600" height="300" alt=""></div>
      </div>
        
      <%- include('./sections/footer.ejs') %> 
           
    </div>
        
    

</div>

<script src="./menu.js"></script>
</body>
</html>